@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@*<div class="row">
    <div class="col-md-4">
        @*<img src="~/LocLogo.png"*@
        @*<button class="redStyle" id="gmtest">Нажать</button> <br />
    </div>
</div>*@


@Html.ActionLink("Карты", "Test", "Home") <br />
@Html.ActionLink("Геолокация", "GeolocationTest", "Home")<br />
@Html.ActionLink("Автозаполнение", "AutocompliteTest", "Home")<br />
@Html.ActionLink("Статическая карта", "StaticMap", "Home")<br />

@*<div class="row">
        <div class="col-md-8 map" id="map">

        </div>
    </div>

    <button class="redStyle" id="gmtest1">Нажать</button> <br />

    <div class="row">

        <div class="col-md-8 map" id="map1">

        </div>
    </div>*@

<script src="~/Scripts/Home/gMap.js"></script>


<script>
    $('#gmtest').click(function () {
        let cont = {
            tagID: 'map',
            guid: '1',
        };
        let elements =
        {
            options:
            {
                userLocation: true,
                showAllRegions: false,
                showLocationInRange: true,
            },
            locations:
                [
                    {
                        lat: 43.5868685,
                        lng: 39.7299474,
                        description: '<p style="font-weight:bolder; font-style:italic;">Стилизованый текст из вызывающего метода</p> <p style="color:brown;" > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>',
                        img: 'some url',
                        radius: 500,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.6085269,
                        lng: 39.7313797,
                        description: 'вторая точка',
                        img: 'some url',
                        radius: 1000,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.6191221,
                        lng: 39.7218364,
                        description: 'третья точка',
                        img: 'some url',
                        radius: 500,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.593971,
                        lng: 39.736433,
                        description: 'четвертая точка',
                        img: 'some url',
                        radius: 500,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.660057,
                        lng: 39.660181,
                        description: 'пятая точка',
                        img: 'some url',
                        radius: 700,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                ]
        };

        let m = gMap;
        //m.init();
        m.initMap(cont, elements);
    });
</script>

<script>
    $('#gmtest1').click(function () {
        let cont = {
            tagID: 'map1',
            guid: '3',
        };
        let elements =
        {
            options:
            {
                userLocation: false,
                showAllRegions: true,
                showLocationInRange: true,
            },
            locations:
                [
                    {
                        lat: 43.5868685,
                        lng: 39.7299474,
                        description: '<p style="font-weight:bolder; font-style:italic;">Стилизованый текст из вызывающего метода</p> <p style="color:brown;" > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>',
                        img: 'some url',
                        radius: 500,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.6085269,
                        lng: 39.7313797,
                        description: 'вторая точка',
                        img: 'some url',
                        radius: 1000,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.6191221,
                        lng: 39.7218364,
                        description: 'третья точка',
                        img: 'some url',
                        radius: 500,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.593971,
                        lng: 39.736433,
                        description: 'четвертая точка',
                        img: 'some url',
                        radius: 500,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                    {
                        lat: 43.660057,
                        lng: 39.660181,
                        description: 'пятая точка',
                        img: 'some url',
                        radius: 700,
                        cssStyle:
                        {
                            circleOptions:
                            {
                                fillColor: '#a0bfeb',
                                fillOpacity: 0.2,
                                strokeColor: '#000000',
                                strokeOpacity: 1,
                                strokeWeight: 1
                            }
                        },
                    },
                ]
        };

        let m = gMap;
        //m.init();
        m.initMap(cont, elements);
    });
</script>

@*<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHZIqG64ECD89gO7f4e_LbXJwkpnl4Gq0&libraries=geometry">
</script>*@
